nav {
    background-color: rgb(51, 116, 202);
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
    color: white;
  }
  
  ul {
    display: flex;
    justify-content: flex-start;
    margin-right: 3rem;
  }
  ul li {
    padding: 0.5rem 1rem;
  }
  ul li a {
    font-size: 1.5rem;
    color: white;
  }